<template>
    <div class="form-container">
        <transition name="fade">
            <div class="alert alert-success" v-if="submitted">
                Thank you, we will contact you soon.
            </div>
        </transition>

        <transition name="fade">
            <div class="alert alert-danger" v-if="genericError">
                An unknown error has occurred. Please try again or contact the website administrator.
            </div>
        </transition>

        <transition name="fadeHeightForm">
            <form v-if="!submitted"
                  @submit.prevent="submitForm"
                  enctype="multipart/form-data"
                  method="post"
                  id="conact-form"
                  aria-label="Contact-Form">

                <div :class="{'form-group': true, 'text-left': true, 'has-error': errors.fullName}">
                    <label for="full-name">
                        Full Name <span class="required">*</span>
                    </label>
                    <input name="full-name"
                           type="text"
                           id="full-name"
                           class="form-control"
                           tabindex="1"
                           aria-required="true"
                           v-model="contactForm.fullName">
                    <form-error v-if="errors.fullName" :errors="errors.fullName"></form-error>
                </div>

                <div :class="{'form-group': true, 'text-left': true, 'has-error': errors.email}">
                    <label for="email">
                        Email <span class="required">*</span>
                    </label>
                    <input name="email"
                           type="text"
                           id="email"
                           class="form-control"
                           tabindex="2"
                           aria-required="true"
                           v-model="contactForm.email">
                    <form-error v-if="errors.email" :errors="errors.email"></form-error>
                </div>

                <div :class="{'form-group': true, 'text-left': true, 'has-error': errors.phone}">
                    <label for="email">Phone</label>
                    <input name="phone"
                           type="text"
                           id="phone"
                           class="form-control"
                           tabindex="3"
                           aria-required="false"
                           v-model="contactForm.phone">
                    <form-error v-if="errors.phone" :errors="errors.phone"></form-error>
                </div>

                <div :class="{'form-group': true, 'text-left': true, 'has-error': errors.message}">
                    <label for="message">
                        Message <span class="required">*</span>
                    </label>
                    <textarea name="message"
                              id="message"
                              class="form-control text-left"
                              tabindex="4"
                              rows="7"
                              v-model="contactForm.message"></textarea>
                    <form-error v-if="errors.message" :errors="errors.message"></form-error>
                </div>

                <button type="submit"
                        id="submit"
                        tabindex="5"
                        class="btn btn-default">Contact Us</button>
            </form>
        </transition>

    </div>
</template>

<style lang="css">
    .form-group {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 400;
    }

    .form-control {
        border-radius: 0;
        background-color: #252525;
        border: 2px solid #979797;
        padding: 7px 4px;
    }

    .form-control:focus {
        border: 1px solid #42DCA3;
        box-shadow: none;
    }

    .form-group.has-error .form-control,
    .form-group.has-error .form-control:focus {
        border: 1px solid #42DCA3;
        box-shadow: none;
    }

    .form-group.has-error .error-messages {
        margin-top: 4px;
        color: #42DCA3;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .fadeHeightForm-enter-active,
    .fadeHeightForm-leave-active {
        transition: all 0.6s;
        max-height: 600px;
    }
    .fadeHeightForm-enter,
    .fadeHeightForm-leave-to {
        opacity: 0;
        max-height: 0px;
    }
</style>

<script>
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError,
        },
        methods: {
            /**
             * Form submission handler.
             *
             * @return void
             */
            submitForm() {
                this.clearErrors();
                axios.post(this.route("contact-form"), {
                    full_name:  this.contactForm.fullName,
                    email:  this.contactForm.email,
                    phone:  this.contactForm.phone,
                    message:  this.contactForm.message
                }).then(response => {
                        this.submitted = true;
                    }).catch(error => {
                        this.handleError(error);
                    });
            },

            /**
             * Helper method for named routes.
             * Allows us to return named routes.
             */
            route(name) {
                return window.routes[name];
            },

            /**
             * Handle form submission errors.
             *
             * @return void
             */
            handleError(error) {
                let response = error.response;
                if (422 === response.status) {
                    this.errors = this.fieldsToCamelCase(response.data.errors)
                } else {
                    this.genericError = true;
                }
            },

            /**
             * Clear the errors object.
             * Reset generic error to false.
             *
             * @return void
             */
            clearErrors() {
                this.genericError = false;
                this.errors = {};
            },

            /**
             * Convert snake_case to camelCase.
             * Leverages the Lodash camelCase method.
             *
             * @param ojb
             * @returns {{}}
             */
            fieldsToCamelCase(ojb) {
                return _.mapKeys(ojb, function (value, key) {
                    return _.camelCase(key);
                });
            },
        },
        data() {
            return {
                contactForm: {
                    fullName: '',
                    email: '',
                    phone: '',
                    message: ''
                },
                submitted: false,
                errors: {},
                genericError: false
            }
        }
    }
</script>