<template>
    <div class="error-messages">
        <ul>
            <li v-for="error in errors">
                {{ error }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
    }
</script>